.headEle{
    font-weight: 550;
    font-size: 17px;
    letter-spacing: 3px;
    padding: 0;
    margin: 0;
    color: black;
    width: 45%;
    height: auto;
}
.paraEle{
    font-size: 13px;
    letter-spacing: 1px;
    color: black;
    margin-right: 38px;
    width: 40%;
    height: auto;
}
.welEle{
    font-size: xxx-large;
}
.divEle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10%;
}
@media (max-width:768px){
    .divEle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 9%;
        grid-gap: 53px;
    }
    .headEle{
        font-weight: 550;
        font-size: 13px;
        letter-spacing: 3px;
        padding: 0;
        margin: 0;
        width: 100%;
        color: black;
    }
    .paraEle{
        font-size: 13px;
        letter-spacing: 1px;
        color: black;
        text-align: justify;
        width: 100%;
        margin-right: 0px;
    }
    .welEle{
        font-size: 40px;
        font-weight: 800;
    }
}
*{
	margin: 0; padding: 0;
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:600);
.headEle {
	font-weight: 600;
	span {
		display: inline-block;
		opacity: 0;
		transform: translateY(20px) rotate(90deg);
		transform-origin: left;
		animation: in 0.5s forwards;
		@for $i from 1 to 8 {
  		&:nth-child(#{$i}) { 
				animation-delay: $i * 0.1s;
			}
		}
	}
}

@keyframes in {
  0% { 
		opacity: 0;
		transform: translateY(50px) rotate(90deg);
	}
	100% { 
		opacity: 1;
		transform: translateY(0) rotate(0);
	}
}